@media(max-width: 1200px){
	body{
		display: flex;
	}
	.info{
		font-size: 50px;
	}
}

@media(max-width: 320px){
	body{
		display: block;
	}
	.countdownContainer{
		width: 100%;
		height: auto;
	}
}